
<br />
<table class="table">
    <thead>
        <th>P [Last Price]</th>
        <th>S [Symbol]</th>
        <th>T [Unix ms TimeStamp]</th>
        <th>V [Volume]</th>
    </thead>
    <tbody id="tableBody">

    </tbody>
</table>
<script src="~/js/StudentLiveDataScript.js"></script>
<script>
    $(document).ready(function(){
        Clickme();
    })
</script>