<br />
<h3 style="font-weight:bold; color:darkblue; text-align:center; text-decoration-line:underline">Student Records</h3>
<br />
<table class="table" id="studentDataTable">
    <thead style="font-weight:bold">
        <td>Roll No.</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>City</td>
        <td>Mobile No.</td>
        <td>&nbsp;</td>
    </thead>
    <tbody id="studentList">

    </tbody>
</table>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/StudentLiveDataScript.js"></script>